<h1>Get and Set Input Field Value</h1>
<h1>User Name :{{displayName}} </h1>
<input type="text" value="{{name}}" (input)="getName($event)" name="input" placeholder="Enter User Name">
<br>
<br>
<button (click)="showName()">Get Value </button>
<button (click)="setName( )" >Set Name</button>
<hr>
<h2>Email:{{email}} </h2>
<input type="text" value="{{email}}" placeholder="Enter Email" #emailField>
<br>
<br>
<button (click)="getEmail(emailField.value)" >Get Email</button>
<button (click)="setEmail()" >Set Email</button>